/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


 @font-face {
 	font-family: 'Futura Std';
 	src: url('FuturaStd-Bold.eot');
 	src: url('FuturaStd-Bold.eot?#iefix') format('embedded-opentype'),
 		url('FuturaStd-Bold.woff') format('woff'),
 		url('FuturaStd-Bold.ttf') format('truetype');
 	font-weight: bold;
 	font-style: normal;
 }

 @font-face {
 	font-family: 'Futura Std';
 	src: url('FuturaStd-ExtraBold.eot');
 	src: url('FuturaStd-ExtraBold.eot?#iefix') format('embedded-opentype'),
 		url('FuturaStd-ExtraBold.woff') format('woff'),
 		url('FuturaStd-ExtraBold.ttf') format('truetype');
 	font-weight: 800;
 	font-style: normal;
 }

 @font-face {
 	font-family: 'Futura Std';
 	src: url('FuturaStd-BookOblique.eot');
 	src: url('FuturaStd-BookOblique.eot?#iefix') format('embedded-opentype'),
 		url('FuturaStd-BookOblique.woff') format('woff'),
 		url('FuturaStd-BookOblique.ttf') format('truetype');
 	font-weight: normal;
 	font-style: italic;
 }

 @font-face {
 	font-family: 'Futura Std';
 	src: url('FuturaStd-Book.eot');
 	src: url('FuturaStd-Book.eot?#iefix') format('embedded-opentype'),
 		url('FuturaStd-Book.woff') format('woff'),
 		url('FuturaStd-Book.ttf') format('truetype');
 	font-weight: normal;
 	font-style: normal;
 }

body {
  font-family:sans-serif;
}
