// Place all the styles related to the attractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mossgreen: #829b6a;

.centered {
  margin:auto;
  text-align: center;
}

.logo {
    margin:20% 0%;
}

.logo-text {
    font-size:10vw;
    font-family:"Futura", sans-serif;
    color:black;
}

.box {
  margin: 20% 0%;
}

.main-text {
  font-size:4vw;
}

section {
  min-height:100vh;
  min-width:101vw;
  left:-1px;
  top:-1px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin:0;
}
section p {
  max-width: 50%;
  text-align: center;
  overflow:visible;
}

section .floating-name {
  height:100vh;
  width:100%;
  margin:0;
  color:white;
  font-family:"Futura Bold", "Futura", sans-serif;
}

.green {
  background-color:$mossgreen;
  color:white;
}
