// Place all the styles related to the attractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mossgreen: #829b6a;

.centered {
  margin:auto;
  text-align: center;
}

.logo {
    margin:20% 0%;
}

.logo-text {
    font-size:10vw;
    font-family:"Futura", sans-serif;
    color:black;
}

.box {
  margin: 20% 0%;
}

.main-text {
  font-size:4vw;
}

section {
  min-height:100vh;
  min-width:100vw;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin:0;
}
section p {
  max-width: 50%;
  text-align: center;
  overflow:visible;
}

section .floating-name {
  text-align: center;
  background-size: cover;
  background-repeat:no-repeat;
  height:100vh;
  width:100%;
  padding-top:9%;
  margin:0;
  color:white;
  font-family:"Futura Bold", "Futura", sans-serif;
  text-transform: uppercase;
  font-size:5vw;
  .subtitle {
    text-transform: none;
    font-style: italic;
    position:relative;
    top:-2vw;
    font-family:"Futura Book", sans-serif;
    font-size:2vw;
  }
  .tag-icon img {
    display:block;
    margin:auto;
    width:15%;
  }
}

.green {
  background-color:$mossgreen;
  color:white;
}
