<h2>
  I want to
  <select id="category">
    <option></option>
    <option>Eat</option>
    <option>Shop</option>
    <option>Explore</option>
    <option>Party</option>
    <option>Learn</option>
  </select>
</h2>
